body {
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Lobster', cursive;
}

h2 {
    font-family: 'Lobster', cursive;
}
.parallax {
    /* The image used */
    background-image: url("img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/*
font-family: 'Lobster', cursive;
font-family: 'Open Sans', sans-serif;
*/